* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial;
  box-sizing: border-box;
}
body {
  background-color: #06283d;
}
header {
  display: inline;
  width: 100%;
}
.jumbotron {
  background-color: #06283d;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-size: 20px;
}
.jumbotron p {
  margin-top: 1rem;
}
nav {
  margin: 0 auto -30px auto;
  z-index: 2;
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.322);
}
nav ul {
  padding: 20px;
  text-align: center;
}
nav li {
  list-style-type: none;
  display: inline;
  margin: 5px;
}
nav a {
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 15px;
}
nav a:hover {
  color: white;
  background-color: #06283d;
  border-radius: 15px;
}
.parent-main {
  background-color: #06283d;
  justify-content: center;
  display: inline-flex;
  width: 100%;
  padding: 0 40px;
}
.parent-main main {
  border-radius: 20px 20px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  width: 100%;
  padding: 0 40px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
}
.content {
  display: flex;
  flex-direction: column;
}
article {
  border-radius: 10px;
  padding-top: 35px;
}
article h1 {
  margin: 40px 0 15px 0;
}
article img {
  margin: 10px 0;
  width: 750px;
  border-radius: 5px;
}
article p {
  margin: 10px 0;
  line-height: 2rem;
  font-weight: 200;
  font-size: 16px;
  width: 750px;
}
aside {
  margin: 90px 0px 40px 40px;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
  width: 280px;
  height: 400px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  position: sticky;
  top: 21%;
}
main aside img {
  width: 120px;
  border-radius: 100%;
  margin: 26px auto;
  border: 4px solid white;
  transition: 0.2s;
}
main aside img:hover {
  width: 125px;
}
.kotak {
  background-color: #06283d;
  height: 100px;
  border-radius: 10px;
}
.circle {
  border-radius: 100%;
  background-color: #06283d;
  width: 160px;
  height: 160px;
  margin: auto;
}
.data-card {
  list-style: none;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}
.bawah {
  border-radius: 0 0 10px 10px;
  background-color: #06283d;
  width: 100%;
  padding: 25px;
}
footer {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #06283d;
}
.fadeefek {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.5s;
}
.fadeefek.aktif {
  transform: translateY(24px);
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .parent-main {
    width: 100%;
    padding: 0 3%;
  }
  .parent-main main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  parent-aside {
    text-align: center;
  }
  aside {
    width: 90%;
    margin: 30px auto;
  }
  header {
    width: 100%;
    display: inline;
  }
  article img {
    width: 100%;
  }
  article {
    padding: 20px 5px 5px 5px;
  }
  article p {
    font-size: 13px;
    width: 100%;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
  }
  nav a {
    font-size: 16px;
  }
  nav ul {
    padding: 18px;
  }
  nav li {
    margin: 5px;
  }
}
