* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial;
  box-sizing: border-box;
}
header {
  display: inline;
  width: 100%;
}
.jumbotron {
  background-color: #005e8a;
  color: white;
  text-align: center;
  padding: 30px;
  width: 100%;
  font-size: 20px;
}
.jumbotron p {
  margin-top: 1rem;
}
nav {
  z-index: 2;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #0078af;
}
nav ul {
  padding: 20px;
  text-align: center;
}
nav li {
  list-style-type: none;
  display: inline;
  margin: 7px;
}
nav a {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.parent-main {
  background-color: #9cb4cc;
  justify-content: center;
  display: inline-flex;
  width: 100%;
}
.parent-main main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding: 0 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
}
.content {
  display: flex;
  flex-direction: column;
}
article {
  border-radius: 10px;
  padding-top: 35px;
}
article h1 {
  margin: 40px 0 15px 0;
}
article img {
  margin: 10px 0;
  width: 700px;
  border-radius: 5px;
}
article p {
  margin: 10px 0;
  line-height: 2rem;
  font-weight: 200;
  font-size: 16px;
  font-family: arial;
}
aside {
  margin: 90px 0px 40px 40px;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
  width: 280px;
  height: 400px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  position: sticky;
  top: 140px;
}
main aside img {
  width: 120px;
  border-radius: 100%;
  margin: 26px auto;
}

.kotak {
  background-color: #9cb4cc;
  height: 100px;
  border-radius: 10px;
}
.circle {
  border-radius: 100%;
  background-color: #9cb4cc;
  width: 160px;
  height: 160px;
  margin: auto;
}
.data-card {
  list-style: none;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}
.bawah {
  border-radius: 0 0 10px 10px;
  background-color: #9cb4cc;
  width: 100%;
  height: 80px;
}
footer {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #0078af;
}
@media screen and (max-width: 748px) {
  .parent-main main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  parent-aside {
    text-align: center;
  }
  aside {
    width: 90%;
    margin: 30px auto;
  }
  header {
    width: 100%;
    display: inline;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  article img {
    width: 100%;
  }
  article {
    padding: 5px;
  }
  article p {
    font-size: 15px;
    font-family: arial;
    font-weight:10;
  }
  nav {
    z-index: 2;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #0078af;
  }
}
